* {
  margin: 0;
}
.App {
  background-image: linear-gradient(
    to left top,
    #cfae36,
    #d7b730,
    #dec129,
    #e5ca20,
    #ebd412
  );
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button {
  background: lightcoral;
  padding: 10px 20px;
  color: white;
  margin-top: 20px;
  border: none;
}
.search-bar {
  padding: 10px;
  width: 50%;
  border: none;
  margin-top: 20px;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 10px;
}
.recipe {
  width: 40%;
  background-color: white;
  margin: 10px;
  align-items: center;
}
h1 {
  color: lightcoral;
}

.apptitle {
  margin-left: 40%;
}
